# CVX install 
utilities/cvx/

# .asv Matlab files
*.asv

# ignore demo data files, execept for demo_data.tif
demo/demo_*
!demo/demo_data.tif

# ignore slurm logs
slurm-*

# ignore path file - to be set up by the user if needed
mp_pathdef.m

# remove cached files from the repo with: git rm -r --cached <file>.<format>

