# CVX install 
utilities/cvx/

# .asv Matlab files
*.asv

# ignore demo data files, execept for demo_data.tif
demo/demo_*
!demo/demo_data.tif

# ignore files in scripts folder
scripts/*
# except for the following files:
!scripts/demo_run_min1pipe.sh
!scripts/run_min1pipe.sh
!scripts/run_min1pipe_scratch.sh

# ignore slurm logs
slurm-*
logs/*

# ignore path file - to be set up by the user if needed
mp_pathdef.m

# remove cached files from the repo with: git rm -r --cached <file>.<format>

run_min1pipe_Nitsan.m
